@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

/*  GLOBAL STYLES       */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #F4F4F4;
  font-family: 'Roboto', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #FBFBFB;
}

ul {
  list-style: none;
}

p {
  margin: 0.75rem 0;
}



.text-secondary {
  color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
  overflow: hidden;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Utility Classes      */

.lg-icons {
  font-size: 3rem;
  color: #FBFBFB;
  background: #7bbb5e;
  padding: 1.4rem;
  border-radius: 50%;
}

.text-primary {
  color: #7bbb5e;
}

.bg-primary {
  background: #7bbb5e;
  color: #Fff;
}

.bg-dark {
  background: #333333;
  color: #Fff;
}

.y-padding-1 { padding: 1rem 0; }
.y-padding-2 { padding: 2rem 0; }
.y-padding-3 { padding: 3rem 0; }

.lg-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.2;
}

.md-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.2;
}

.text-centered {
  text-align: center;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.btn {
  transition: ease-in-out 0.25s;
  display: inline-block;
  background: #7bbb5e;
  padding: 0.5rem 0.75rem;
  font-size: 1.4rem;
  border-radius: 2px;
  border: none;
}

.btn:hover {
  background: #FBFBFB;
  color: #7bbb5e;
}

.btn-dark {
  background: #333;
  color: #FBFBFB;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
}

/* Navbar Styles        */
.nav-bar {
  position: sticky;
  top: 0;
  padding: 0 1rem;
  min-height: 55px;
  background: #333333;
  color: #FBFBFB;

  z-index: 300;
}

.nav-bar__logo {
  font-size: 1.4rem;
  align-items: center;
}

.nav-bar__items {
  display: flex;
}

.nav-bar__item a {
  display: flex;
  align-items: center;

  height: 55px;
  transition: ease-in-out 0.25s;
  font-weight: bold;
  color: #757575;
  padding: 0.275rem 0.75rem;
}

.nav-bar__item a:hover {
  background: #7bbb5e;
  color: #F4F4F4;
}


/* Showcase Hero      */
.showcase {
  background: #333 url(../img/showcase.jpg) no-repeat center center/cover;
  height: calc(100vh - 55px);

  text-align: center;
  color: #F4F4F4;

}

.showcase__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  /* Overlay */
  background-color: rgba(0, 0, 0, 0.4);
}


/* Section What We Do      */

.whatwedo {
  min-height: calc(50vh - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatwedo h2 {
  margin-bottom: 1rem;
}

.whatwedo p {
  color: #757575
}

.whatwedo__heading {
  margin-bottom: 1rem;
  color: #333333;
}

.whatwedo__items {
  display: flex;
  flex-wrap: wrap;
}

.whatwedo__item {
  flex: 1;
  text-align: center;
  /* background: #fff; */
  padding: 0.5rem;
  margin: 0.5rem;
  min-width: 300px;
}

.whatwedo i {
  margin: 1.5rem;
  color: #333333
}

/* Who we are section */
.whoweare {
  min-height: 50vh;

  display: flex;
  flex-wrap: wrap;
  

}

.whoweare__img {
  background: url("../img/people.jpg") no-repeat center center/cover;
  min-height: 400px;
  flex: 2;
  min-width: 300px;
}

.whoweare__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background: #333333;
  color: #F4F4F4;
  flex: 1;
  min-width: 300px;
  padding: 2rem;

}

.whoweare__item {
  padding: 0.5rem 0;
  border-bottom: #757575 1px dotted;
}


/* Section Clients */
.items {
  display: flex;
  padding: 1rem;
}

.items div {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.items div img {
  display: block;
  width: 60%;
}

/* Contact Section */
.contact {
  display: flex;
  flex-wrap: wrap;
}

.contact__text {
  margin: 0.7rem;
}

.contact__item {
  flex: 1;
}


.contact__form form .form__group {
  margin: 0.7rem;
  flex: 1;
}

.contact__form form .form__group label {
  display: block;
}

.contact__form form  .form__group input,
.contact__form form  .form__group textarea {
  width: 100%;
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  border-radius: 3px;
  border: none;
}

/* Main Footer */
#main-footer p {
  padding: 1rem;
  margin: 0;
}